@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@font-face {
  font-family: 'Elegance';
  src: url("../fonts/Elegance/RoundedElegance-Regular.eot");
  src: local("Elegance Regular"), local("RoundedElegance-Regular"), url("../fonts/Elegance/RoundedElegance-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Elegance/RoundedElegance-Regular.woff") format("woff"), url("../fonts/Elegance/RoundedElegance-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaThin/HelveticaThin.eot");
  src: local("Helvetica Thin"), local("HelveticaThin"), url("../fonts/Helvetica/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/Helvetica/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaLight/HelveticaLight.eot");
  src: local("Helvetica Light"), local("HelveticaLight"), url("../fonts/Helvetica/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/Helvetica/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: local("Helvetica Light Italic"), local("HelveticaLightItalic"), url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot");
  src: local("Helvetica Regular"), local("HelveticaRegular"), url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot");
  src: local("Helvetica Medium"), local("HelveticaMedium"), url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaBold/HelveticaBold.eot");
  src: local("Helvetica Bold"), local("HelveticaBold"), url("../fonts/Helvetica/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/Helvetica/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 992px;
  margin: 0 auto;
  /*border: thin solid blue;*/
}

.container-header {
  border: thin solid #F5E8DA;
}

.section_title {
  font-size: 38px;
  text-align: center;
}

.section_title-contacts {
  color: #F5E8DA;
}

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.main_header {
  height: 100vh;
  min-height: 600px;
  padding-top: 30px;
  background: url("../img/beardman4.png") no-repeat center center/cover;
  font-family: Elegance, Arial, sans-serif;
}

.menu {
  padding-top: 20px;
}

.menu_items {
  padding: 0;
  margin: 0;
}

.menu_item {
  float: left;
  display: block;
  margin-right: 14px;
  margin-left: 14px;
}

.menu_item:first-child {
  margin-left: 40px;
}

.menu_item-cart {
  float: right;
}

.menu_link {
  color: #F5E8DA;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}

.menu_link:hover {
  color: white;
}

.menu_phone {
  display: block;
  color: #F5E8DA;
  float: right;
  font-size: 26px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 40px;
}

.menu_phone-mobile {
  display: none;
}

.heading {
  text-align: center;
  color: #F5E8DA;
}

.heading_logo {
  display: inline-block;
  margin-top: 12vh;
  margin-bottom: 4vh;
  margin-left: 0 auto;
  margin-right: 0 auto;
  height: 50vh;
  min-height: 300px;
}

.heading_title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 5vh;
}

.shortDescription_text {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 130px;
  margin-left: 130px;
}

#miniCart {
  position: fixed;
  border: thin rgba(32, 32, 32, 0.2) solid;
  background-color: rgba(32, 32, 32, 0.4);
  border-radius: 20px;
  text-align: center;
  margin-right: 50px;
  margin-left: 800px;
  padding: 5px;
  width: 100px;
  bottom: 30px;
}

.miniCart_img {
  font-size: 35px;
  color: #F5E8DA;
  display: inline-block;
}

.miniCart_img-good {
  font-size: 18px;
  color: #707070;
}

.miniCart_button {
  display: none;
  font-weight: 400;
  background-color: #F5E8DA;
  border: thin #F5E8DA solid;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  padding-top: 2px;
}

.miniCart_button:hover {
  background-color: white;
  border-color: white;
}

.miniCart_goods {
  display: inline-block;
  color: #F5E8DA;
  font-size: 30px;
}

.miniCart_goods-header {
  font-size: 24px;
}

#catalog {
  background-color: #F2F2F2;
  padding-top: 10px;
  height: calc(380px * 5 + 200px);
}

.catalog_img {
  width: 200px;
}

.catalog_singleGoods {
  width: 230px;
  height: 362px;
  border: thin solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-left: 8px;
  float: left;
  text-align: center;
}

.catalog_singleGoodsTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: black;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.catalog_singleGoodsCost {
  color: black;
  font-weight: 400;
}

.catalog_button {
  font-size: 11px;
  font-weight: 500;
  width: 80px;
  border: solid black thin;
  border-radius: 10px;
  cursor: pointer;
  padding: 4px;
  margin-top: 4px;
  background-color: white;
}

.catalog_fancy {
  text-decoration: none;
}

.catalog_static {
  background-color: white;
}

.catalog_staticSingleGoods {
  width: 230px;
  height: 620px;
  border: thin solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-left: 8px;
  float: left;
  text-align: center;
}

.catalog_staticBottom {
  float: left;
  height: 700px;
  width: 230px;
}

.fancy_buyButton {
  display: inline-block;
  cursor: pointer;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  border: thin solid white;
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 200px;
}

.fancy_cost {
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 0;
}

.fancy_buyDone {
  color: blue;
}

.fancy_captionText {
  display: inline-block;
  margin: 0 auto;
  width: 820px;
  min-width: 300px;
  background-color: rgba(32, 32, 32, 0.5);
}

.good_title {
  text-align: center;
  font-size: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.good_img {
  width: 100%;
  max-width: 455px;
}

.good_imgDiv {
  text-align: center;
}

.good_description {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 28px;
  padding-right: 28px;
}

.good_cost {
  text-align: center;
  font-weight: 700;
  padding: 5px;
  margin-top: 0;
}

.good_buyButton {
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  border: thin solid black;
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 200px;
}

.good_buttonWrap {
  text-align: center;
}

.good_added {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  display: none;
  color: #707070;
}

.good_miniCartCount {
  display: inline-block;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
}

#about {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.about_cursText {
  font-size: 23px;
  font-weight: 300;
  line-height: 1.4;
  font-style: italic;
  text-align: center;
  padding-right: 135px;
  padding-left: 135px;
  padding-bottom: 20px;
}

.about_img {
  width: 500px;
  border: thick solid #F5E8DA;
}

#delivery {
  background-color: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 80px;
}

.delivery_text {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

#contacts {
  text-align: center;
  background: url("../img/Fon.jpg") no-repeat center center/cover;
  padding-top: 1px;
  padding-bottom: 5px;
}

.contacts_text {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.3;
  color: #F5E8DA;
}

.contacts_link {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border: #F5E8DA solid thin;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 7px;
  background: #F5E8DA;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.contacts_link a {
  font-size: 32px;
  color: #3D3936;
}

.contacts_cartText {
  display: inline-block;
  font-size: 20px;
  color: #F5E8DA;
  height: 40px;
  vertical-align: middle;
}

.cart_header {
  background: url("/img/Fon.jpg") no-repeat center center/cover;
  font-family: Elegance, Arial, sans-serif;
  height: 100px;
  text-align: center;
}

.cart_headerItem {
  display: inline-block;
}

.cart_headerItem-logo {
  height: 90px;
  margin-left: 130px;
  margin-right: 80px;
  float: left;
}

.cart_headerItem-title {
  margin: 0 auto;
  width: 260px;
  padding-top: 20px;
}

.cart_headerItem-phone {
  font-size: 35px;
  color: #F5E8DA;
  margin-right: 50px;
  margin-top: 20px;
  float: right;
}

.cart_title {
  display: inline-block;
}

.cart_title-left {
  text-decoration: none;
  color: black;
  font-size: 23px;
  text-align: center;
  width: 140px;
  float: left;
  margin-left: 80px;
  margin-top: 40px;
  border: thin solid black;
  border-radius: 8px;
  padding: 8px;
}

.cart_title-right {
  float: right;
}

.cart_title-center {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.cartHead {
  background-color: #F2F2F2;
  display: none;
}

.cartHead_item {
  display: inline-block;
  font-size: 17px;
  text-align: left;
  margin-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cartHead_item-good {
  margin-left: 215px;
  width: 463px;
}

.cartHead_item-count {
  width: 85px;
}

.cart_img {
  height: 125px;
  margin-left: 30px;
  margin-right: 30px;
}

.cart_row {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
}

.cart_rowWrap {
  background-color: #F2F2F2;
  height: 125px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart_name {
  font-weight: 400;
  text-decoration: none;
  width: 390px;
  margin-left: 30px;
  margin-right: 30px;
}

.cart_cost {
  font-weight: 500;
  text-align: center;
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

.cart_butMinus {
  cursor: pointer;
}

.cart_butPlus {
  cursor: pointer;
}

.cart_butDelete {
  cursor: pointer;
}

.cart_count {
  text-align: center;
  width: 20px;
  font-weight: 500;
  margin-left: 4px;
  margin-right: 4px;
}

.cart_finalCost {
  text-align: center;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
}

.cart_createButton {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  display: none;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  color: #009900;
  border: thin solid #00AA00;
  border-radius: 8px;
  width: 300px;
}

.cart_createButton:hover {
  background-color: #009900;
  color: white;
}

.cart_totalCost {
  font-size: 21px;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 60px;
}

.cart_empty {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  line-height: 2;
}

.cart_footer {
  font-family: Elegance, Arial, sans-serif;
  text-align: center;
  background-color: #3D3936;
  padding-bottom: 2px;
}

.orderForm {
  display: none;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.orderForm_input {
  font-size: 22px;
  padding: 10px;
  width: 500px;
  margin: 10px;
}

.orderForm_input-hidden {
  display: none;
}

.orderForm_comment {
  font-size: 22px;
  padding: 10px;
  width: 500px;
  margin: 10px;
}

.orderForm_button {
  font-size: 24px;
  width: 300px;
  color: #009900;
  background-color: white;
  border: thin solid #00AA00;
  border-radius: 8px;
  padding: 10px;
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.orderForm_button:hover {
  background-color: #009900;
  color: white;
}

.orderForm_info {
  text-align: center;
  color: #999;
  font-weight: 300;
}

#cart {
  min-height: calc(100vh - 249px);
}

.confirm {
  text-align: center;
  min-height: calc(100vh - 276px);
}

.confirm_title {
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.confirm_text {
  font-size: 23px;
}

.confirm_button {
  display: inline-block;
  width: 300px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 8px;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  border: thin solid black;
  border-radius: 8px;
}

#confirm_number {
  display: inline-block;
  font-weight: 500;
}

.footer_docs {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 2px;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}

.footer_docs a {
  color: #F5E8DA;
}
